**Data Cleaning**
---

In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [24]:
# connect to the database
con = sqlite3.connect('talks.db')
cur = con.cursor()
cur.execute('select author, talk, description, likes, views from talks')
talks = cur.fetchall()

In [25]:
# create dataframe from talks(list of talks)
columns = ['author', 'talk', 'description', 'likes', 'views']
df = pd.DataFrame(talks, columns=columns)
df.head()

,author,talk,description,likes,views
0,Conor Russomanno,A powerful new neurotech tool for augmenting y...,"In an astonishing talk and tech demo, neurotec...",4.7K,"157,930"
1,Peter Singer,A modern argument for the rights of animals,Why do we prioritize human rights over those o...,7.6K,"254,482"
2,Sahar Zand,"Why Iranians are cutting their hair for ""Woman...",Filmmaker Sahar Zand vividly explores the ongo...,11K,"393,882"
3,Shannon Odell,Are solar panels worth it?,Today in many countries solar is the cheapest ...,3.7K,"126,251"
4,Angus Hervey,Why are we so bad at reporting good news?,Why is good news so rare? In a special broadca...,12K,"415,329"

In [36]:
# convert columns to data types
def convert_data_types(df):
    '''function to convert column data types for data processing'''
    df = df.astype({
        'author': 'string',
        'talk': 'string',
        'description': 'string',
        'likes': 'int',
        'views': 'int'
    })
    return df

In [21]:
df = convert_data_types(df)

In [16]:
df.dtypes

author         string
talk           string
description    string
likes          string
views          string
dtype: object

In [22]:
df.shape

(5811, 5)

In [27]:
#remove 'K' from string in likes column and replace it with '000'
df['likes'] = df['likes'].str.replace('K', '00')
df['likes'] = df['likes'].str.replace('M', '00000')
# remove '.' from string in likes column
df['likes'] = df['likes'].str.replace('.', '')

/var/folders/7f/4z7lvktj44g121hm_1s6v18h0000gn/T/ipykernel_54076/3213296766.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['likes'] = df['likes'].str.replace('.', '')

In [29]:
df['likes'] = df['likes'].astype(int)

In [31]:
# remove "," from views column

df['views'] = df['views'].apply(lambda x: x.replace(',', ''))

In [32]:
df['views'] = df['views'].astype(int)

In [33]:
df.head()#

,author,talk,description,likes,views
0,Conor Russomanno,A powerful new neurotech tool for augmenting y...,"In an astonishing talk and tech demo, neurotec...",4700,157930
1,Peter Singer,A modern argument for the rights of animals,Why do we prioritize human rights over those o...,7600,254482
2,Sahar Zand,"Why Iranians are cutting their hair for ""Woman...",Filmmaker Sahar Zand vividly explores the ongo...,1100,393882
3,Shannon Odell,Are solar panels worth it?,Today in many countries solar is the cheapest ...,3700,126251
4,Angus Hervey,Why are we so bad at reporting good news?,Why is good news so rare? In a special broadca...,1200,415329

In [37]:
df = convert_data_types(df)

In [38]:
df.dtypes

author         string
talk           string
description    string
likes           int64
views           int64
dtype: object

In [46]:
# remove punctuation from column talk and remove non-alphanumeric characters
df['talk'] = df['talk'].str.replace('[^\w\s]', '')
df['talk'] = df['talk'].str.lower()
df['talk'] = df['talk'].str.strip()

# remove punctuation from column description and remove non-alphanumeric characters
df['description'] = df['description'].str.replace('[^\w\s]', '')
df['description'] = df['description'].str.lower()
df['description'] = df['description'].str.strip()

/var/folders/7f/4z7lvktj44g121hm_1s6v18h0000gn/T/ipykernel_54076/3267924737.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['talk'] = df['talk'].str.replace('[^\w\s]', '')
/var/folders/7f/4z7lvktj44g121hm_1s6v18h0000gn/T/ipykernel_54076/3267924737.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  df['description'] = df['description'].str.replace('[^\w\s]', '')

In [48]:
df.tail()

,author,talk,description,likes,views
5793,Hans Rosling,the best stats youve ever seen,youve never seen data presented like this with...,46700,15591221
5794,Sir Ken Robinson,do schools kill creativity,sir ken robinson makes an entertaining and pro...,2200000,75218930
5795,Majora Carter,greening the ghetto,in an emotionally charged talk macarthurwinnin...,9200,3072072
5796,David Pogue,simplicity sells,new york times columnist david pogue takes aim...,6000,2020543
5797,Al Gore,averting the climate crisis,with the same humor and humanity he exuded in ...,11100,3704946

In [49]:
df.to_csv('/Users/patrickokwir/Desktop/Git_Projects/Ted-Talks-Recommender-System/Data_output/talks.csv')